* {
	padding: 0;
	margin: 0;
}

body {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.shuidi div {
	/* border: 1px solid red; */
	transform: rotate(-45deg);
	width:100px;
	height:100px;
	box-sizing: border-box;
	position: absolute;
	border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
	box-shadow: inset -40px 5px 30px rgba(0, 0, 0, 0.5),
		-18px 6px 20px rgba(0, 0, 0, 0.3),
		inset 18px -6px 20px rgba(255, 255, 255, 0.8);
}

.shuidi div::after {
	content: " ";
	position: absolute;
	left: 65%;
	bottom:40%;
	width:10px;
	height:10px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.5);
}

.shuidi div::before {
	content: " ";
	position: absolute;
	left:65%;
	bottom:55%;
	width:20px;
	height:20px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.5);
}
.shuidi div:nth-child(1){
	animation: move2 8s linear infinite;
	left:5%;
	top:-30%;
}
.shuidi div:nth-child(2){
	animation: move2 10s linear infinite;
	left:13%;
	top:-30%;
	animation-delay:3s;
}
.shuidi div:nth-child(3){
	animation: move2 12s linear infinite;
	left:24%;
	top:-30%;
	animation-delay:4s;
}
.shuidi div:nth-child(4){
	animation: move2 6s linear infinite;
	left:36%;
	top:-30%;
	animation-delay:4s;
}
.shuidi div:nth-child(5){
	animation: move2 7s linear infinite;
	left:45%;
	top:-30%;
	animation-delay:1s;
}
.shuidi div:nth-child(6){
	animation: move2 15s linear infinite;
	left:55%;
	top:-30%;
	animation-delay:5s;
}
.shuidi div:nth-child(7){
	animation: move2 11s linear infinite;
	left:65%;
	top:-30%;
	animation-delay:5s;
}
.shuidi div:nth-child(8){
	animation: move2 6s linear infinite;
	left:87%;
	top:-30%;
	animation-delay:3s;
}

@keyframes move2 {
	0% {}
	25% {
		transform: translate(0%, 700%) rotate(-45deg);
		border-radius: 100% 0% 60% 40% / 60% 0% 100% 40%;
	}
	50%{
		transform: translate(0%, 1400%) rotate(-45deg);
		border-radius: 100% 0% 60% 40% / 60% 0% 100% 40%;
	}
	75%{
		ransform: translate(0%, 2100%) rotate(-45deg);
		border-radius: 100% 0% 60% 40% / 60% 0% 100% 40%;
	}
	100%{
		transform: translate(0%, 2800%) rotate(-45deg);
		border-radius: 100% 0% 60% 40% / 60% 0% 100% 40%;
	}
}
